body {
    /* margin: auto 100px; */
    /* padding: 60px 0 60px 0; */
    font-family: "Roboto", "Noto Sans", serif;
    transition: background-color 0.6s ease;
}

.body {
    background-color: #fff3f6;
}

.projects-main-container {
    padding: 0 120px;
}

.involvement-main-container {
    padding: 0 5px;
}

/* main {
    max-width: 2560px;
} */

@keyframes pulseGradient {
    0% {
        background: radial-gradient(circle at 50% 7%, rgba(253, 123, 162, 0.75) 100px, transparent 600px), white;
    }
    50% {
        background: radial-gradient(circle at 50% 7%, rgba(255, 180, 203, 0.9) 100px, transparent 600px), white;
    }
    100% {
        background: radial-gradient(circle at 50% 7%, rgba(255, 180, 203, 0.75) 100px, transparent 600px), white;
    }
}


.bg-home { 
    background: radial-gradient(circle at 50% 7%, rgba(255, 180, 203) 100px, transparent 500px), white;
    transition: background 1s ease; 
    background-color: rgba(255, 255, 255, 0.75);
}
/* .bg-about { background-color: rgba(255, 180, 203, 0.25);} */
/* .bg-about { background-color: #ffb4cb;} */
/* .bg-work { background-color: #ffb4cb; } */

/* .bg-home {
    animation: pulseGradient 2s ease-in-out infinite;
    background-size: cover;
} */
.bg-about { background-color: black; color: #ffb4cb; }
.bg-work { background-color: black; color: #ffb4cb; }
.bg-skills { background-color: black; color: #ffb4cb; }
.bg-projects { background-color: black; color: #ffb4cb; }
.bg-involvement { background-color: #ffb4cb; }
.bg-contacts { background-color: black; color: #ffb4cb;}
/* .bg-project-home { background-color: #EA9ECE; } */
.bg-project-home { background-color: #ffb4cb; }
.bg-projects-main { background-color: #0e0e0e; color: #ffb4cb;}
.bg-involvement-home { background-color: #ffb4cb; }
.bg-involvement-list { background-color: #ffb4cb;}
.bg-work-home { background-color: black; color: #ffb4cb; }
.bg-work-1-container { background-color: black; color: white; }
.bg-work-2-container { background-color: black; color: white; }
.bg-work-3-container { background-color: black; color: white; }


#mainNavbar {
  background-color: transparent;
  transition: all 0.5s ease;
  box-shadow: none;
}

/* Navbar when scrolling up */
.nav-scrolled {
  /* background-color: rgba(255, 255, 255, 0.75) !important; */
  /* backdrop-filter: blur(10px); */
  background-color: transparent !important;
}

/* .nav-scrolled .nav-link,
.nav-scrolled .navbar-brand {
  color: rgba(255, 255, 255, 0.7) !important;
} */

.nav-scrolled .navbar-brand {
  color: rgb(240, 240, 240, 0.8) !important;
}

.nav-scrolled .contact-btn {
    background-color: rgba(240, 240, 240, 0.8) !important;
    backdrop-filter: blur(10px) !important;
    color: black !important;
}

/* Hide navbar */
.nav-hidden {
  transform: translateY(-100%);
}

.container-fluid {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    color: rgba(50, 50, 50, 0.75) !important;
    font-size: 40px !important;
    padding-left: 30px;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand:hover {
    color: #fe9ab8 !important;
}

.contact-btn {
    background-color: rgba(0, 0, 0, 0.75) !important;
    backdrop-filter: blur(10px) !important;
    margin-right: 30px !important;
    color: rgb(255, 255, 255) !important;
    padding: 10px 20px 10px 20px !important;
    font-weight: 200 !important;
    font-size: 14px !important;
}

.contact-btn:hover {
    background-color: #fe9ab8 !important;
    color: black !important;
}

.collapse .other-page:hover {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.active:hover {
    background-color: #fe9ab8 !important;
}

#contacts {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin: 100px 100px;
}

.contact-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.contact {
    text-align: center;
}

.contact:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.contact img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-icon {
    font-size: 50px;
    color: #ffb4cb;
}

#home, #project-home, #involvement-home, #work-home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-title, .skills-title, .contact-title, .projects-title, .involvement-title {
    /* font-family: "Poiret One", "Roboto Mono", serif; */
    /* font-weight: bold; */
    font-size: 40px;
    margin-bottom: 80px;
}

.page-title {
    overflow: hidden;
    border-right: .15em solid #ffb4cb;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 2s steps(10, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffb4cb }
}

.page-title {
    font-weight: 2000;
    font-size: 70px;
    /* margin: 40px auto; */
}

.page-subtitle {
    margin-top: 30px;
}

.project-header, .work-header {
    display: flex;
    align-items: center; 
    gap: 10px;        
}

.involvement-grid {
    justify-content: end;
    align-items: end;
}

.involvement-grid-img {
    height: 723px;
    width: 723px;
    object-fit: contain;
    background-color: white;
}

.involvement-img-container {
    text-align: center;
}

@media (max-width: 1023px) {
  .contact-list {
    gap: 40px;
  }
}