body {
    margin: auto 100px;
    padding: 60px 120px;
    font-family: "Roboto", "Noto Sans", serif;
    transition: background-color 0.5s ease;
}

.body {
    background-color: white;
}

.bg-home { 
    /* background: radial-gradient(circle at top left, rgba(255, 182, 193, 0.75) 100px, transparent 600px),
            radial-gradient(circle at 50% 10%, rgba(255, 182, 193, 0.75) 100px, transparent 500px), white; */
    background: radial-gradient(circle at 50% 7%, rgba(255, 180, 203, 0.85) 100px, transparent 600px), white;
    transition: background 1s ease; 
    background-color: rgba(255, 255, 255, 0.75);
}
.bg-about { background-color: white; }
.bg-work { background-color: #ffb4cb; }
.bg-skills { background-color: white; }
.bg-projects { background-color: black; color: white; }
.bg-involvement { background-color: #ffb4cb; }
.bg-contacts { background-color: #ffb4cb; }
.bg-project-home { background-color: #EA9ECE; }
.bg-involvement-home { background-color: #ffb4cb; }
.bg-projects-main { background-color: #ffcdec; }

#mainNavbar {
  background-color: transparent;
  transition: all 0.5s ease;
  box-shadow: none;
}

/* Navbar when scrolling up */
.nav-scrolled {
  background-color: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(10px);
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.nav-scrolled .nav-link,
.nav-scrolled .navbar-brand {
  color: black !important;
}

/* Hide navbar */
.nav-hidden {
  transform: translateY(-100%);
}

.container-fluid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand {
    padding-left: 30px;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    max-width: 2560px;
}

#home {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-buttons {
    padding-top: 50px;
}

#home .title {
    /* font-family: "Alfa Slab One", "Anton", "Alfa Slab One", "Abril Fatface", "DM Serif Text", serif; */
    /* font-family: "Poiret One", "Roboto Mono", serif; */
    font-weight: bold;
    font-size: 100px;
    margin: 40px auto;
}

#home p {
    font-size: 20px;
    font-weight: 300;
    /* font-family: "Poiret One", "Roboto Mono", serif; */
    font-family: "Roboto", "Noto Sans", serif;
}

.custom-button {
    width: 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.work-title, .skills-title, .contact-title, .projects-title, .involvement-title {
    /* font-family: "Poiret One", "Roboto Mono", serif; */
    /* font-weight: bold; */
    font-size: 40px;
    margin-bottom: 80px;
}

#about {
    padding-top: 200px;
}

#about p {
    font-weight: 300;
    /* color: white; */
}

.about-title {
    /* color: white; */
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.about-container {
    padding: auto 80px;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    justify-content: space-between;
}

.about-intro {
    font-size: 17px;
    line-height: 1.5;
    flex: 1; 
    padding-left: 20px;   
}

.Ana-pic {
    flex: 1;
    display: flex;
    margin-left: 10%;
    justify-content: left;
}

.Ana-pic img{
    max-width: 70%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(152, 152, 152, 0.1);
}


#work, #skills, #projects, #involvement {
    padding-top: 200px;
    text-align: center;
}

.work-container {
    margin: auto 60px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: space-between;
}

.work-col {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
}

.works-list {
    justify-content: start;
    text-align: left;
}

.work-subtitle {
    margin: 0 0 10px 0;
    font-size: 26px;
    font-weight: 400;
    font-family: "Roboto", "Noto Sans", serif;
}

.work-intro {
    justify-self: start;
    text-align: left;
    align-items: start;
}

.skill-lists {
    text-align: left;
    list-style-position: inside; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.yami-logo {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.yami-logo img:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.yami-logo img{
    width: 20%;
    height: auto;
    border-radius: 100%;
    box-shadow: 2px 4px 6px rgba(152, 152, 152, 0.1);
}

.work-description {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto", "Noto Sans", serif;
    padding: 1% 2% 1% 2%;
}

.work-icon {
    font-size: 35px;
}

.skills-part {
    display: flex;
    margin-left: 40px;
    justify-content: left;
    flex-wrap: wrap;
    gap: 50px;
}

.skill img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.skill-category {
    font-size: 20px;
    text-align: left;
    margin-bottom: 70px;
    margin-top: 40px;
}

.skill {
    font-size: 14px;
    text-align: center;
    animation: float 4s ease-in-out infinite;
    transition: transform 0.3s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

#contacts {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin: 100px 100px;
}

.contact-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.contact {
    text-align: center;
}

.contact:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.contact img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-icon {
    font-size: 50px;
    color: black;
}

.carousel-img {
    display: block;
    height: 550px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.carousel-wrapper {
  width: 75%;
  height: 54%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4)); */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    border-radius: 10px;
}

.carousel-img-wrapper {
    position: relative;
    overflow: hidden;
}

.carousel-img-wrapper:hover .carousel-overlay {
    opacity: 1;
}

.involvement-img {
    height: 270px;
    object-fit: cover;
    object-position: top;
    width: 100%;
    background-color: white;
}

.arrow-button-container {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 15px;
}

.arrow-button {
    font-size: 35px;
    margin: 15px 0 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    color: rgb(13, 13, 13);
    opacity: 1;
    transition: all 0.2s ease;
}

.arrow-button-outline {
    font-size: 35px;
    margin: 15px 0 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: black;
    transition: all 0.2s ease;
}

.col:hover .arrow-button {
    opacity: 0;
}

.col:hover .arrow-button-outline {
    opacity: 1;
    transform: scale(1.1);
    border-width: 2px;
}

.work-date {
    color: rgb(94, 93, 93);
    font-size: 14px;
}

#project-home, #involvement-home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-title {
    font-weight: 2000;
    font-size: 70px;
    /* margin: 40px auto; */
}

.page-subtitle {
    margin-top: 30px;
}

.project-header, .work-header {
    display: flex;
    align-items: center; 
    gap: 10px;        
}

.project-button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.project-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    font-family: "Roboto", "Noto Sans", serif;
}

.project-grid {
    margin: 0 50px;
}

.project-img-wrapper {
    width: 46%;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#sleeptracker-demo {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    object-fit: contain;
    object-position: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.grid-image {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    background-color: white;
}

.project-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

.project-img-wrapper:hover .project-img-overlay {
    opacity: 1;
}

