body {
    margin: auto 100px;
    padding: 60px 60px;
    font-family: "Roboto", "Noto Sans", serif;
    font-weight: 250;
    background-color: #1D1D1F;
    color: white;
}

main {
    max-width: 2560px;
}

.menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.3s;
}

/* .menu-container:hide {
    transform: translateY(-100%);
} */

.menu-container a {
    text-decoration: none;
    color: #1D1D1F;
    transition: color 0.2s;
}

.menu-container .logo {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 80px;
}

nav .menu {
    display: flex;
    gap: 35px;
    padding: 0px 70px;
}

nav .menu a:hover {
    color: grey;
}

header {
    margin: 50px 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#home .name {
    font-family: "Alfa Slab One", "Anton", "Alfa Slab One", "Abril Fatface", "DM Serif Text", serif;
    font-weight: 400;
    font-size: 110px;
    margin: 40px auto;
}

#home p {
    font-size: 20px;
    font-family: "Poiret One", "Roboto Mono", serif;
}

#home {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.btn {
    color:#1D1D1F;
    background-color: white;
    padding: 15px 22px;
    border-style: solid;
    border-width: 1px;
    border-color: #1D1D1F;
    border-radius: 38px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    color: white;
    background-color: #1D1D1F;
    padding: 15px 23px;
    border-style: none;
    border-radius: 38px;
    transition: background-color 0.3s, color 0.3s;
}

.home-buttons {
    padding: 60px;
}

.home-btn {
    margin: 40px 20px;
    text-decoration: none;
    color:white;
    background-color: transparent;
    padding: 18px 29px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 38px;
    transition: background-color 0.3s, color 0.3s;
}

.home-btn:hover {
    margin: 40px 20px;
    text-decoration: none;
    color:#1D1D1F;
    background-color: white;
    padding: 18px 30px;
    border-style: none;
    border-width: 1px;
    border-color: #1D1D1F;
    border-radius: 38px;
    transition: background-color 0.3s, color 0.3s;
}

.about-title, .skills-title, h2 {
    font-family: "Poiret One", "Roboto Mono", serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 80px;
}

#skills {
    text-align: center;
}

.skills-part {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 53px;
}

.skill img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.skill-category {
    font-size: 20px;
    text-align: left;
    margin-bottom: 70px;
    margin-top: 40px;
}

.skill {
    text-align: center;
    animation: float 4s ease-in-out infinite;
    transition: transform 0.3s;
}

/* .skill:hover {
    transform: scale(1.1);
    animation: none;
} */

#contacts {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin: 100px 100px;
}

.contact-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.contact {
    text-align: center;
}

.contact:hover {
    transform: scale(1.1);
}

.contact img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#about {
    padding-top: 100px;
    padding-bottom: 120px;
}

#about .about-title {
    margin-top: 110px;
    margin-bottom: 10px;
}

.about-container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about-intro {
    font-size: 17px;
    line-height: 1.5;
    flex: 1;
    padding-right: 20px;
}

.Ana-pic {
    flex: 1;
    display: flex;
    justify-content: right;
}

.Ana-pic img{
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(152, 152, 152, 0.1);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 980px) {
    body {
        padding: 20px;
        margin: 80px 80px;
    }
    .menu-container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    nav .menu {
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
    }

    h1 {
        font-size: 30px;
    }

    #home {
        margin: 5px 5px;
    }

    #home .name {
        font-size: 40px;
    }

    #about {
        text-align: center;
    }

    .about-container {
        grid-template-columns: 100%;
    }

    /* .about-intro {
        text-align: center;
    } */

    .Ana-pic {
        justify-content: Center;
    }

    .home-buttons {
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    
    .btn, .home-btn {
        text-align: center;
        align-items: center;
        font-size: 12px;
        padding: 8px 16px;
        margin: 0px 0px;
    }

    .btn:hover {
        text-align: center;
        align-items: center;
        font-size: 12px;
        padding: 9px 17px;
        margin: 0px 0px;
    }
    
    .home-btn:hover {
        text-align: center;
        align-items: center;
        font-size: 12px;
        padding: 9px 17px;
        margin: 0px 0px;
    }

    .skill-category {
        text-align: center;
    }

    .skills-part {
        justify-content: center;
        gap: 30px;
    }

    .contact img {
        width: 40px;
        height: 40px;
    }

    #contacts {
        margin: 1px 1px;
        padding: 100px 1px;
    }

    .contact-list {
        gap: 30px;
    }
}

